.main {
    min-height: 100vh;
    background-color: #10121b;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    /*border: 1px solid red;*/
    min-height: 100vh;
    margin-left: auto;
    width: calc(100% - 253px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting {
    /*min-height: 100vh;*/
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.hello {*/
/*    font-size: 20px;*/
/*}*/

.myname {
    color: white;
    font-weight: 700;
    font-stretch: normal;
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    position: relative;
    z-index: 0;
}

.developer {
    font-size: 20px;
}

.myname span{
    color: #037fff;
}

.socialBlock {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 280px;
    position: relative;
}


.socialIcon {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    border: 2px solid #2e344e;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 1s ease;
}

.socialIcon:hover {
    border-color: #037fff;
    transition: 1s;
}

img {
    height: 65%;
    width: 65%;
}

.button1 {
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button1 button {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    border: 2px solid #2e344e;
    background-color: #161320;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
    cursor:pointer;
    outline: none;
    -webkit-transition: 1s ease;
}

.button1 button:hover {
    border: 2px solid #037fff;
    transition: 1s;
}

@media screen and (max-width: 1200px){
    .container {
        width: 100%
    }
}

/*@media screen and (max-width: 1435px){*/
/*    .containerForAll {*/
/*        width: 100%;*/
/*    }*/
/*}*/
