.contacts {
    min-height: 100vh;
    background-color: #161320;
    /*display: flex;*/
    /*justify-content: center;*/
    position: relative;
}

.containerForAll {
    margin-left: auto;
    width: calc(100% - 253px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blockTitle {
    font-size: 40px;
    color: #ffffff;
}

.containerForOther {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.form {
    margin-left: 100px;
    width: 560px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    text-align: left;
}

.input1 {
    /*border: 1px solid white;*/
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding-bottom: 20px;
}

/*.input1:before {*/
/*    left: 200px;*/
/*    content: "1235hghd";*/
/*    top: 20px;*/
/*}*/

.input1 input {
    height: 50px;
    width: 500px;
    padding: 6px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #2e344e;
    background: #161320;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    box-sizing: border-box;
}

.form textarea {
    height: 200px;
    width: 500px;
    resize: none;
    box-shadow: none;
    border: 1px solid #2e344e;
    background: #161320;
    color: white;
    padding: 15px;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    box-sizing: border-box;
}

.button {
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 ;
}

.button button {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    border: 1px solid #2e344e;
    background-color: #161320;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
    cursor:pointer;
    outline: none;
    -webkit-transition: 1s ease;
}

.button button:hover {
    border: 2px solid #037fff;
    transition: 1s;
}

.discContainer {
    margin-right: 10px;
}

.phoneContainer {
    height: 140px;
    width: 500px;
    background-color: #191d2b;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgContainer {
    border: 1px solid #2e344e;
    height: 70px;
    width: 70px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer img{
    height: 30px;
}
.textContainer {
    margin-left: 30px;
    font-size: 20px;
}

.emailContainer {
    margin-top: 25px;
    height: 140px;
    width: 500px;
    background-color: #191d2b;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.locationContainer {
    margin-top: 25px;
    height: 140px;
    width: 500px;
    background-color: #191d2b;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1200px){
    .containerForAll {
        width: 100%;
    }
}
@media screen and (max-width: 735px){
    .input1, .input2 {
        width: 100%;
    }
}

@media screen and (max-width: 420px){
    .input1, .input2 {
        width: 90%;
    }
}

@media screen and (max-width: 420px){
    .textarea {
        width: 90%;
    }
}